package routes

import (
	"eltimn/todo-plus/utils"
	"eltimn/todo-plus/web/layouts"
)

templ ErrorPartial(err utils.HttpError) {
	<div class="error">Error: { err.Error() }</div>
}

templ ErrorPage(err utils.HttpError) {
	@layouts.ErrorLayout() {
		@ErrorPartial(err)
	}
}
