package routes

import "eltimn/todo-plus/web/layouts"

templ ErrorPartial(err HttpError) {
	<div class="error">Error: { err.Error() }</div>
}

templ ErrorPage(err HttpError) {
	@layouts.ErrorLayout() {
		@ErrorPartial(err)
	}
}
