*_templ.go
*_templ.txt
.envrc
bin/
db-data/
result/
tmp/
.devbox/
.direnv/
node_modules
dist
.task/
.DS_Store?
*.db
*.db-shm
*.db-wal

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

