package pages

import (
	"eltimn/todo-plus/models"
	"eltimn/todo-plus/web/layouts"
)

func getName(user *models.User) string {
	name := "Guest"
	if user.IsLoggedIn() {
		name = user.FullName
	}

	return name
}

templ Hello(user *models.User, nonce string) {
	@layouts.TailwindUILayout(user, nonce) {
		<div>Hello, { getName(user) }!</div>
	}
}
