package pages

import (
	"eltimn/todo-plus/models"
	"eltimn/todo-plus/web/components"
	"eltimn/todo-plus/web/layouts"
	datastar "github.com/starfederation/datastar/sdk/go"
)

templ Home(user *models.User) {
	<ul>
		// <li><a href="/counter">Counter</a></li>
		// <li><a href="/todo">Todo</a></li>
		// <li><a href="/hello">Hello</a></li>
		// <li><a href="/now">Time</a></li>
		<li><a href="/error">Error</a></li>
		<li><a href="/doesnotexist">404</a></li>
		if !user.IsLoggedIn() {
			<li><a href="/user/signup">Sign Up</a></li>
			<li><a href="/user/login">Log In</a></li>
		}
	</ul>
}

templ quiz() {
	<div
		data-signals="{response: '', answer: 'bread'}"
		data-computed-correct="$response.toLowerCase() == $answer"
	>
		<div id="question"></div>
		@components.Button("submit", templ.Attributes{
			"data-on-click":            datastar.GetSSE("/quiz"),
			"data-indicator":           "fetching",
			"data-attributes-disabled": "$fetching",
		}) {
			<span>Fetch a question</span>
		}
		<div data-show="$fetching">Loading...</div>
		@components.Button("submit", templ.Attributes{
			"data-show":     "$answer != ''",
			"data-on-click": "$response = prompt('Answer:') ?? ''",
		}) {
			<span>BUZZ</span>
		}
		<div data-show="$response != ''">
			You answered <span data-text="$response"></span>.
			<span data-show="$correct">That is correct ✅</span>
			<span data-show="!$correct">
				The correct answer is: <span data-text="$answer"></span>
			</span>
		</div>
	</div>
}

templ HomePage(user *models.User, nonce string) {
	@layouts.TailwindUILayout(user, nonce) {
		@Home(user)
		@quiz()
	}
}
