package pages

import (
	"time"

	"eltimn/todo-plus/web/layouts"
	"eltimn/todo-plus/models"
)

templ NowPage(user *models.User, d time.Time) {
	@layouts.TailwindUILayout(user) {
		<div>Now: { d.String() }</div>
	}
}
