package pages

import (
	"eltimn/todo-plus/models"
	"eltimn/todo-plus/web/layouts"
	"time"
)

templ NowPage(user *models.User, d time.Time, nonce string) {
	@layouts.TailwindUILayout(user, nonce) {
		<div>Now: { d.String() }</div>
	}
}
