package user

import (
	"eltimn/todo-plus/models"
	"eltimn/todo-plus/web/components"
	"eltimn/todo-plus/web/layouts"
)

type LoginSignals struct {
	Email    string `json:"email"`
	Password string `json:"password"`
}

templ Login(user *models.User, signals *LoginSignals, nonce string) {
	@layouts.TailwindUILayout(user, nonce) {
		if user.IsLoggedIn() {
			<p>You are already logged in.</p>
			<p><a href="/">Go to the home page</a></p>
		} else {
			<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
				<div class="sm:mx-auto sm:w-full sm:max-w-sm">
					<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Log in to your account</h2>
				</div>
				<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
					<div id="login_error" class="error"></div>
					// <form class="space-y-6" id="login_form" data-on-submit="@post('/user/login-ds', {contentType: 'form'})">
					<form class="space-y-6" id="login_form" method="post" action="/user/login">
						<div>
							<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
							<div class="mt-2">
								<input
									name="email"
									type="email"
									autocomplete="email"
									required
									class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
									value={ signals.Email }
								/>
							</div>
						</div>
						<div>
							<div class="flex items-center justify-between">
								<label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
								<div class="text-sm">
									<a href="/user/forgot" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
								</div>
							</div>
							<div class="mt-2">
								<input
									name="password"
									type="password"
									autocomplete="current-password"
									required
									class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
									value={ signals.Password }
								/>
							</div>
						</div>
						<div>
							// <button
							// 	type="submit"
							// 	class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
							// 	data-on-click="sse('/user/login', {method:'post', contentType: 'form', selector: '#login_form'}"
							// >
							// 	<span>Log in</span>
							// </button>
							@components.Button("submit", nil) {
								<span>Log in</span>
							}
						</div>
					</form>
					<p class="mt-10 text-center text-sm text-gray-500">
						Not a member?
						<a href="/user/signup" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign up now</a>
					</p>
				</div>
				<script type="text/javascript" defer nonce={ nonce }>
				  document.addEventListener('DOMContentLoaded', () => {
				    window.Todo.forms.submitListener('#login_form', resp => {
				      if (resp.ok) {
				        window.location.replace("/")
				      } else {
				        const $loginError = document.querySelector("#login_error");
				        $loginError.innerHTML = `<p class="error">${resp.error}</p>`
				      }
				    })
				  })
				</script>
			</div>
		}
	}
}

templ LoginResponse(signals *LoginSignals) {
	<div id="login_form">
		Email:
		<div>{ signals.Email }</div>
		<br/>
		Password:
		<div>{ signals.Password }</div>
	</div>
}
