package routes

import (
	"eltimn/todo-plus/web/layouts"
)

templ ErrorPartial(err error) {
	<div class="error">Error: { err.Error() }</div>
}

templ ErrorPage(err error) {
	@layouts.TailwindUILayout() {
		@ErrorPartial(err)
	}
}
