package todo

import (
	"eltimn/todo-plus/models"
	"eltimn/todo-plus/web/layouts"
)

templ TodoApp(user *models.User, todos []models.Todo, activeCount int) {
	<section id="todos">
		@topbar()
		<div>
			@todoList(todos, activeCount)
		</div>
		@bottombar(activeCount)
	</section>
}

templ TodoAppPage(user *models.User, todos []models.Todo, activeCount int, nonce string) {
	@layouts.TailwindUILayout(user, nonce) {
		@TodoApp(user, todos, activeCount)
	}
}
