package todo

import (
	"eltimn/todo-plus/web/layouts"
	"eltimn/todo-plus/models"
)

templ TodoApp(todos []models.Todo, activeCount int) {
	<section id="todos">
		@topbar()
		<div>
			@todoList(todos, activeCount)
		</div>
		@bottombar(activeCount)
	</section>
}

templ TodoAppPage(todos []models.Todo, activeCount int) {
	@layouts.TailwindUILayout() {
		@TodoApp(todos, activeCount)
	}
}
