package todo

templ topbar() {
	<header>
		<div>
			<div class="error"></div>
			<form hx-post="/todo/create" hx-target="#todos" hx-swap="outerHTML" hx-target-error="previous .error">
				<input name="new-todo" type="text" placeholder="What needs to be done?" class="input input-bordered w-full max-w-xs" autofocus=""/>
			</form>
		</div>
	</header>
}
