package routes

import (
	"eltimn/todo-plus/pkg/errs"
	"eltimn/todo-plus/web/layouts"
)

templ ErrorPartial(err errs.HttpError) {
	<div class="error">Error: { err.Error() }</div>
}

templ ErrorPage(err errs.HttpError) {
	@layouts.ErrorLayout() {
		@ErrorPartial(err)
	}
}
